{% extends "_base.html" %}

{% block content %}

    <main role="main">
        <div class="top-section top-section--purple">
            <div class="row">
              <div class="medium-12 column">
                <h1>Color Library</h1>
                <p class="top-section__tagline">The GovLab maintains a number of color palettes across our various properties. Palettes are organized below by project.</p>
              </div>
            </div>
        </div>
        <div class="divider">
          <h1>Base Colors</h1>
        </div>
        <div class="page-section">
          <div class="row">
            <div class="medium-12 column">
              <div class="palette">
                <div class="palette__item">
                  <h1>$gray-10</h1>
                  <h2>rgba(0,0,0,0.1)</h2>
                </div>
                <div class="palette__item">
                  <h1>$gray-20</h1>
                  <h2>rgba(0,0,0,0.2)</h2>
                </div>
                <div class="palette__item">
                  <h1>$gray-30</h1>
                  <h2>rgba(0,0,0,0.3)</h2>
                </div>
                <div class="palette__item">
                  <h1>$gray-40</h1>
                  <h2>rgba(0,0,0,0.4)</h2>
                </div>
                <div class="palette__item">
                  <h1>$gray-50</h1>
                  <h2>rgba(0,0,0,0.5)</h2>
                </div>
                <div class="palette__item">
                  <h1>$gray-60</h1>
                  <h2>rgba(0,0,0,0.6)</h2>
                </div>
                <div class="palette__item">
                  <h1>$gray-70</h1>
                  <h2>rgba(0,0,0,0.7)</h2>
                </div>
                <div class="palette__item">
                  <h1>$gray-80</h1>
                  <h2>rgba(0,0,0,0.8)</h2>
                </div>
                <div class="palette__item">
                  <h1>$gray-90</h1>
                  <h2>rgba(0,0,0,0.9)</h2>
                </div>
              </div>
              <div class="palette">
                <div class="palette__item">
                  <h1>$purple</h1>
                  <h2>#523080</h2>
                </div>
                <div class="palette__item">
                  <h1>$orange</h1>
                  <h2>#ee5b43</h2>
                </div>
                <div class="palette__item">
                  <h1>$teal</h1>
                  <h2>#008895</h2>
                </div>
                <div class="palette__item">
                  <h1>$blue</h1>
                  <h2>#008ab3</h2>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="divider">
          <h1>Project Colors</h1>
        </div>
        <div class="page-section">
          <div class="row">
            <div class="medium-12 column">

              <!-- Collective Intelligence -->
              <h5>Collective Intelligence</h5>
              <div class="palette">
                <div class="palette__item">
                    <h1>$main-color</h1>
                    <h2>#191b3f</h2>
                </div>
                <div class="palette__item">
                    <h1>$accent-color</h1>
                    <h2>#18fce3</h2>
                </div>
                <div class="palette__item">
                    <h1>$yellow</h1>
                    <h2>#ffd300</h2>
                </div>
              </div>

              <!-- Data Collaboratives -->
              <h5>Data Collaboratives</h5>
              <div class="palette">
                <div class="palette__item">
                    <h1>$main-color</h1>
                    <h2>#e5c810</h2>
                </div>
                <div class="palette__item">
                    <h1>$gray</h1>
                    <h2>rgba(0,0,0,0.7)</h2>
                </div>
              </div>

              <!-- Data Justice -->
              <h5>Data Justice</h5>
              <div class="palette">
                <div class="palette__item">
                    <h1>$main-color</h1>
                    <h2>#151F2B</h2>
                </div>
                <div class="palette__item">
                    <h1>$accent-color</h1>
                    <h2>#E3C729</h2>
                </div>
                <div class="palette__item">
                    <h1>$success-color</h1>
                    <h2>#4b7e4b</h2>
                </div>
                <div class="palette__item">
                    <h1>$error-color</h1>
                    <h2>#f30</h2>
                </div>
                <div class="palette__item">
                    <h1>$gray</h1>
                    <h2>#637A84</h2>
                </div>
                <div class="palette__item">
                    <h1>$black</h1>
                    <h2>#151F2B</h2>
                </div>
              </div>
          
              <!-- MRFP -->
              <h5>MRFP</h5>
              <div class="palette">
                <div class="palette__item">
                    <h1>$mrfp-blue</h1>
                    <h2>#3B4E64</h2>
                </div>
                <div class="palette__item">
                    <h1>$mrfp-green</h1>
                    <h2>#00C5AC</h2>
                </div>
                <div class="palette__item">
                    <h1>$mrfp-yellow</h1>
                    <h2>#ECC600</h2>
                </div>
                <div class="palette__item">
                    <h1>$mrfp-orange</h1>
                    <h2>#F16246</h2>
                </div>
                <div class="palette__item">
                    <h1>$mrfp-purple</h1>
                    <h2>#AD6DC4</h2>
                </div>
              </div>

              <!-- NOI -->
              <h5>Network of Innovators</h5>
              <div class="palette">
                <div class="palette__item">
                    <h1>$main-color</h1>
                    <h2>#008ab3</h2>
                </div>
                <div class="palette__item">
                    <h1>$accent-color</h1>
                    <h2>#ff9600</h2>
                </div>
                <div class="palette__item">
                    <h1>$success-color</h1>
                    <h2>#4b7e4b</h2>
                </div>
                <div class="palette__item">
                    <h1>$error-color</h1>
                    <h2>#f30</h2>
                </div>
              </div>

              <!-- OD150 Canada -->
              <h5>Open Data 150 Canada</h5>
              <div class="palette">
                <div class="palette__item">
                    <h1>$main-color</h1>
                    <h2>#483c6c</h2>
                </div>
                <div class="palette__item">
                    <h1>$accent-color</h1>
                    <h2>#0cffe1</h2>
                </div>
                <div class="palette__item">
                    <h1>$theme-pink</h1>
                    <h2>#fe227c</h2>
                </div>
                <div class="palette__item">
                    <h1>$theme-yellow</h1>
                    <h2>#ffd489</h2>
                </div>
              </div>

              <!-- Open Data Symposium 2016 -->
              <h5>Open Data Symposium 2016</h5>
              <div class="palette">
                <div class="palette__item">
                    <h1>$dark-blue</h1>
                    <h2>rgba(36,55,71,1)</h2>
                </div>
                <div class="palette__item">
                    <h1>$odrs-green</h1>
                    <h2>rgba(71,166,179,1)</h2>
                </div>
                <div class="palette__item">
                    <h1>$yellow</h1>
                    <h2>rgba(227,204,89,1)</h2>
                </div>
              </div>

              <!-- Zika -->
              <h5>Zika</h5>
              <div class="palette">
                <div class="palette__item">
                    <h1>$main-color</h1>
                    <h2>#2c4758</h2>
                </div>
                <div class="palette__item">
                    <h1>$accent-color</h1>
                    <h2>#FFAA00</h2>
                </div>
                <div class="palette__item">
                    <h1>$theme-color</h1>
                    <h2>#04ccb7</h2>
                </div>
              </div>
            </div>
          </div>
        </div>

    </main>
    
{% endblock %}



