{% extends "_base.html" %}

{% block content %}

    <main role="main">
        <div class="top-section top-section--purple">
            <div class="row">
              <div class="medium-12 column">
                <h1>Color Library</h1>
                <p class="top-section__tagline">The GovLab maintains a number of color palettes across our various properties. Palettes are organized below by project.</p>
              </div>
            </div>
        </div>
        <div class="divider">
          <h1>Base Colors</h1>
        </div>
        <div class="page-section">
          <div class="row">
            <div class="medium-12 column">     
              <div class="palette palette--base">
                <div class="palette__item palette__item--rgb">
                  <h1>#000000</h1>
                  <h2>10%</h2>
                  <h3>rgba(0,0,0,.1)</h3>
                </div>
                <div class="palette__item">
                  <h1>#523080</h1>
                </div>
                <div class="palette__item">
                  <h1>#ee5b43</h1>
                </div>
                <div class="palette__item">
                  <h1>#008895</h1>
                </div>
                <div class="palette__item">
                  <h1>#008ab3</h1>
                </div>
                <div class="palette__item palette__item--rgb">
                  <h1>#000000</h1>
                  <h2>80%</h2>
                  <h3>rgba(0,0,0,.8)</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="divider">
          <h1>Project Colors</h1>
        </div>
        <div class="page-section">
          <div class="row align-center">
            <div class="small-12 medium-6 columns">
              <!-- Academy -->
              <div class="palette">
                <a href="http://govlabacademy.org/"><h5>Academy</h5></a>
                <div class="palette__item">
                    <h1>#ee5b43</h1>
                </div>
                <div class="palette__item">
                    <h1>#f9b26f</h1>
                </div>
                <div class="palette__item">
                    <h1>#22a69b</h1>
                </div>
                <div class="palette__item">
                    <h1>#366473</h1>
                </div>
              </div>
            </div>
            <div class="small-12 medium-6 column">
              <!-- Collective Intelligence -->
              <div class="palette">
                <a href="http://collectiveintelligenceconference.org/"><h5>Collective Intelligence</h5></a>
                <div class="palette__item">
                    <h1>#191b3f</h1>
                </div>
                <div class="palette__item">
                    <h1>#18fce3</h1>
                </div>
                <div class="palette__item">
                    <h1>#ffd300</h1>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="small-12 medium-6 column">
              <!-- Data Collaboratives -->
              <div class="palette">
                <a href="http://datacollaboratives.org/"><h5>Data Collaboratives</h5></a>
                <div class="palette__item">
                    <h1>#e5c810</h1>
                </div>
                <div class="palette__item palette__item--rgb">
                    <h1>#000000</h1>
                    <h2>70%</h2>
                    <h3>rgba(0,0,0,.7)</h3>
                </div>
              </div>
            </div>
            <div class="small-12 medium-6 column">
              <!-- Data Justice -->
              <div class="palette">
                <a href="https://datajustice.us/"><h5>Data Justice</h5></a>
                <div class="palette__item">
                    <h1>#151F2B</h1>
                </div>
                <div class="palette__item">
                    <h1>#E3C729</h1>
                </div>
                <div class="palette__item">
                    <h1>#637A84</h1>
                </div>
                <div class="palette__item">
                    <h1>#151F2B</h1>
                </div>
              </div>
              <div class="palette">
                <div class="palette__item">
                    <h1>#4b7e4b</h1>
                </div>
                <div class="palette__item">
                    <h1>#ff3300</h1>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="small-12 medium-6 column">
              <!-- MRFP -->
              <div class="palette">
                <a href="http://mrfpinc.org/"><h5>MRFP</h5></a>
                <div class="palette__item">
                    <h1>#3B4E64</h1>
                </div>
                <div class="palette__item">
                    <h1>#00C5AC</h1>
                </div>
                <div class="palette__item">
                    <h1>#ECC600</h1>
                </div>
                <div class="palette__item">
                    <h1>#F16246</h1>
                </div>
              </div>
              <div class="palette">
                <div class="palette__item">
                    <h1>#AD6DC4</h1>
                </div>
              </div>
            </div>
            <div class="small-12 medium-6 column">
              <!-- NOI -->
              <div class="palette">
                <a href="https://www.networkofinnovators.org/"><h5>Network of Innovators</h5></a>
                <div class="palette__item">
                    <h1>#008ab3</h1>
                </div>
                <div class="palette__item">
                    <h1>#ff9600</h1>
                </div>
                <div class="palette__item">
                    <h1>#4b7e4b</h1>
                </div>
                <div class="palette__item">
                    <h1>#ff3300</h1>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="small-12 medium-6 column">
              <!-- OD150 Canada -->
              <div class="palette">
                <a href="http://canada.opendata500.com/"><h5>Open Data 150 Canada</h5></a>
                <div class="palette__item">
                    <h1>#483c6c</h1>
                </div>
                <div class="palette__item">
                    <h1>#0cffe1</h1>
                </div>
                <div class="palette__item">
                    <h1>#fe227c</h1>
                </div>
                <div class="palette__item">
                    <h1>#ffd489</h1>
                </div>
              </div>
            </div>
            <div class="small-12 medium-6 column">
              <!-- Open Data Symposium 2016 -->
              <div class="palette">
                <a href="http://odresearch.org/"><h5>Open Data Symposium 2016</h5></a>
                <div class="palette__item">
                    <h1>#243747</h1>
                </div>
                <div class="palette__item">
                    <h1>#47a6b3</h1>
                </div>
                <div class="palette__item">
                    <h1>#e3cc59</h1>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="small-12 medium-6 column">
              <!-- OGRX -->
              <div class="palette">
                <a href="http://ogrx.org/"><h5>OGRX</h5></a>
                <div class="palette__item">
                  <h1>#004f6f</h1>
                </div>
                <div class="palette__item">
                  <h1>#F0B300</h1>
                </div>
              </div>
              <div class="palette">
                <div class="palette__item">
                    <h1>#314956</h1>
                </div>
                <div class="palette__item">
                    <h1>#3B4F65</h1>
                </div>
                <div class="palette__item">
                    <h1>#3F70B6</h1>
                </div>
                <div class="palette__item">
                    <h1>#5FA9D4</h1>
                </div>
              </div>
              <div class="palette">
                <div class="palette__item">
                    <h1>#717E81</h1>
                </div>
                <div class="palette__item">
                    <h1>#668B98</h1>
                </div>
                <div class="palette__item">
                    <h1>#6E7B97</h1>
                </div>
                <div class="palette__item">
                    <h1>#A67FB9</h1>
                </div>
              </div>
              <div class="palette">
                <div class="palette__item">
                    <h1>#523080</h1>
                </div>
                <div class="palette__item">
                    <h1>#B33945</h1>
                </div>
                <div class="palette__item">
                    <h1>#DE606C</h1>
                </div>
                <div class="palette__item">
                    <h1>#D65A43</h1>
                </div>
              </div>  
              <div class="palette">
                <div class="palette__item">
                    <h1>#4B8C8E</h1>
                </div>
                <div class="palette__item">
                    <h1>#00AD98</h1>
                </div>
                <div class="palette__item">
                    <h1>#56A173</h1>
                </div>
                <div class="palette__item">
                    <h1>#607A34</h1>
                </div>
              </div>
              <div class="palette">
                <div class="palette__item">
                    <h1>#6A4F3B</h1>
                </div>
                <div class="palette__item">
                    <h1>#f3b44b</h1>
                </div>
                <div class="palette__item">
                    <h1>#dbc048</h1>
                </div>
                <div class="palette__item">
                    <h1>#d9be5b</h1>
                </div>
              </div>
            </div>
            <div class="small-12 medium-6 column">
              <!-- Sourcelist -->
              <div class="palette">
                <a href="https://govlab.github.io/sourcelist/"><h5>Sourcelist</h5></a>
                <div class="palette__item">
                    <h1>#807155</h1>
                </div>
                <div class="palette__item">
                    <h1>#ffcf64</h1>
                </div>
                <div class="palette__item">
                    <h1>#f8a348</h1>
                </div>
                <div class="palette__item">
                    <h1>#e1496c</h1>
                </div>
              </div>
              <div class="palette">
                <div class="palette__item">
                    <h1>#b45372</h1>
                </div>
                <div class="palette__item">
                    <h1>#655d75</h1>
                </div>
                <div class="palette__item">
                    <h1>#495368</h1>
                </div>
                <div class="palette__item">
                    <h1>#546977</h1>
                </div>
              </div>
              <div class="palette">
                <div class="palette__item">
                    <h1>#6e9a8c</h1>
                </div>
                <div class="palette__item">
                    <h1>#3ec695</h1>
                </div>
                <div class="palette__item">
                    <h1>#242122</h1>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="small-12 medium-6 column">
              <!-- Zika -->
              <div class="palette">
                <a href="http://zika.smartercrowdsourcing.org/"><h5>Zika</h5></a>
                <div class="palette__item">
                    <h1>#2c4758</h1>
                </div>
                <div class="palette__item">
                    <h1>#FFAA00</h1>
                </div>
                <div class="palette__item">
                    <h1>#04ccb7</h1>
                </div>
              </div>
            </div>
          </div>
        </div>

    </main>
    
{% endblock %}



