.palette {

	text-align: left;
	width: 316px;
	margin: 0 auto;

	&--base { 
		width: 395px; 
		@media only screen and (max-width: 639px) { width: 237px; }
	}


	&__item { 

		display: inline-block;
    	padding: 5px;
    	width: 75px;
    	height: 75px;
    	overflow: hidden;
    	position: relative;

    	h1 {
	        font-weight: bold;
	        text-transform: uppercase;
	        font-size: .9rem;
	        margin: 0;
	        padding: 5% 0;
	        color: $white;
    	}

    	h2 { 
	        font-weight: bold;
	        font-size: .9rem;
	        margin: 0;
	        padding: 5% 0;
	        color: $white; 
	    }

	    &--rgb { 

	    	h2 { 
	    		position: absolute; 
	    		padding: 0px;
	    		bottom: 5px; 
	    		right: 5px; 
	    	}

	    	h3 { display: none; } 
	    }

	}

}